<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wf.aloha">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AppRoot"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.CamActivity"></activity>
        <activity android:name=".ui.NotiActivity" />
        <activity android:name=".ui.ResolverTestActivity" />
        <activity
            android:name=".ui.MipushTestActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity android:name=".ui.Test3Activity" />

        <service
            android:name=".service.AlermService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.ToolbarActivity" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.DownloadServiceActivity" />

        <service
            android:name=".service.IntentServiceDemo"
            android:exported="false" />
        <service
            android:name=".service.ServiceDemo"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.ServiceActivity" />
        <activity android:name=".ui.ThreadUIActivity" />
        <activity android:name=".ui.NetActivity" />
        <activity
            android:name=".ui.VideoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity android:name=".ui.CaptureActivity" />
        <activity android:name=".ui.NotifiActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5940ad6aaed17966cb000895" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="aa5ae782ba2e5be3c12edbaa23e7dfbd" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=100900451" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".icon1"
            android:enabled="false"
            android:icon="@mipmap/ic_plus"
            android:label="testapp"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".iconold"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="aloha"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.UploadActivity"
            android:process="com.wf.aloha.remote" />
        <activity
            android:name=".ui.RetrofitGetActivity"
            android:process=":remote" />
        <activity android:name=".ui.RetrofitPostActivity" />
        <activity android:name=".ui.RxJavaActivity" />
        <activity android:name=".ui.DownLoadActivity" />
        <activity android:name=".ui.MaterialActivity" />
        <activity android:name=".ui.SuperSwipeActivity" />
        <activity android:name=".ui.DrawerActivity" />
        <activity
            android:name=".ui.CameraActivity"
            android:screenOrientation="landscape" /> <!-- 24及以上 FileUriExposedException -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.CanvasActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.ViewStubActivity" />

        <receiver android:name=".SMSReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.TestActivity" />
        <activity android:name=".ui.CanvasDrawActivity" />
        <activity android:name=".ui.FingerActivity" />
        <activity android:name=".ui.IconActivity" />
        <activity android:name=".ui.KotlinActivity" />
        <activity android:name=".ui.CatchKTActivity" />
        <activity android:name=".Tactivity" />
        <activity
            android:name=".ui.TempActivity"
            android:process=":remote" /> <!-- <receiver android:name=".broadcastReceiver.TimeReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.TIME_SET"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service android:name=".service.MyintentService" />

        <activity android:name=".ui.DialogFrgmtActivity" />

        <service
            android:name=".AddService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.AttrDefineActivity" />
        <activity android:name=".ui.RadioActivity" />
        <activity android:name=".ui.RtfTestActivity" />
        <activity android:name=".ui.WebviewDemoActivity" />
        <activity android:name=".ui.WebviewTempActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".ui.ComListActivity" />
        <activity android:name=".ui.KotlinRecyActivity" />
        <activity android:name=".ui.Test2Activity" /> <!-- android:theme="@style/Theme.AppCompat.Dialog" -->
        <activity
            android:name=".ui.HideActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- <category android:name="com.dd.MY_CAT"/> -->
                <data android:scheme="https" />
                <!-- <data android:scheme="https"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".ui.MsgListActivity" />
        <activity android:name=".ui.FragActivity" />
        <activity android:name=".ui.BroadcastActivity" />

        <receiver
            android:name=".broadcastReceiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- <receiver -->
        <!-- android:name=".broadcastReceiver.MyReceiver" -->
        <!-- android:enabled="true" -->
        <!--  -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter android:priority="100"> -->
        <!-- <action android:name="com.wf.aloha.mybroadcast"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".ui.FileSaveActivity" />
        <activity android:name=".ui.PermissionActivity" />
        <activity android:name=".ui.ResolverActivity" />

        <provider
            android:name=".view.DataProvider"
            android:authorities="com.wf.aloha.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.wf.aloha.provider"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>